.W_FooterTelegramBlock {
  width: 21.46vw;
  display: flex;
  flex-direction: column;
  gap: 1.04vw;
}

.W_FooterSocialBlock {
  display: flex;
  flex-direction: column;
  gap: 1.04vw;
}

.W_FooterSocialBlockLanding {
  align-items: end;
}

.W_MadeBy {
  display: flex;
  flex-direction: column;
  gap: 1.04vw;
}

.W_HeadingGroup {
  display: flex;
  flex-direction: column;
}

.W_Number {
  position: relative;
}

.W_Number__underlay {
  background-color: var(--accent-blue);

  .A_Text--h1 {
    color: var(--white);
  }
}

.W_Number__underlay-green {
  position: absolute;
  bottom: -1.65vw;
  right: 0;
  transform: rotate(-10deg);
  background-color: var(--green);
  padding: 0.1vw 0.21vw;
  width: fit-content;

  .A_Text {
    display: block;
  }
}

.W_GreenText,
.W_GreenTextWithImage {
  background-color: var(--green);
  width: fit-content;
}

.W_GreenTextWithImage {
  padding: 0.21vw 0.42vw;
  gap: 0.21vw;
  display: flex;
  align-items: center;

  > img {
    width: 1.25vw;
  }
}

/* Обёртки для главной страницы */
.W_BannerContent {
  position: relative;
  z-index: 2;
  max-width: 31.25vw;
  display: flex;
  flex-direction: column;
  gap: 3.13vw;
}

.W_BannerDecorations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.W_SectionContent {
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
  max-width: 41.67vw;
}

.W_CtaContent {
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
  align-items: flex-start;
}

.W_CardText {
  display: flex;
  width: 32.29vw;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1.67vw;
  text-align: center;
}

.W_Number {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.W_BannerBottom {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 24.53vw;
  gap: 1.04vw;
  text-align: center;

  > button {
    margin-top: 2.29vw;
  }
}

.W_MenuItems {
  display: flex;
  align-items: center;
  gap: 1.67vw;
}

.W_BannerTop {
  display: flex;
  justify-content: space-between;
  max-width: 73.44vw;

  > h1 {
    width: 39.79vw;
    flex-shrink: 0;
  }

  > img {
    margin-top: 1.33vw;
    width: 17.71vw;
    z-index: 2;
  }
}

.W_TextbookLeft {
  display: flex;
  width: 28.96vw;
  flex-direction: column;
  gap: 1.25vw;
}

.W_NumberModule {
  display: flex;
  flex-direction: column;
  width: fit-content;

  > svg {
    margin-left: 0.42vw;
  }
}

.W_NumberLesson,
.W_NumberTime {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  gap: -0.21vw;

  .M_Underlay {
    margin: 0;
    transform: rotate(-10deg);
    font-size: 0.99vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.W_Number-rotated {
  gap: -0.63vw;

  .M_Underlay:nth-child(2) {
    transform: rotate(-10deg);
  }
}

.W_NumberLesson {
  position: absolute;
  top: -2.5vw;
}

.W_NumberTime {
  position: absolute;
  top: 0;
  left: 6.93vw;
}

.W_LessonItem {
  display: flex;
  flex-direction: column;
  gap: 1.04vw;
  font-size: 1.25vw;
}

.W_LandingHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25vw;

  > h1 {
    text-align: center;
  }
}

.W_AudienceCards {
  gap: 1.04vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
}

.O_SearchField {
  width: fit-content;
  margin: 5.21vw auto 0;
  display: flex;
  flex-direction: column;
}

.W_SearchResults {
  background: var(--light_gray);
  padding: 1.04vw;
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
  max-height: 33.28vw;
  width: 53.13vw;
  overflow-y: auto;
}

.W_firstBannerMain {
  width: 100%;
  height: 32.33vw;
  border: 0.08vw solid var(--lavender, #cdccff);
  background: var(--light_blue, #cce8ff);
  background-image:
    linear-gradient(
      to right,
      var(--lavender, #cdccff) 0.08vw,
      transparent 0.05vw
    ),
    linear-gradient(
      to bottom,
      var(--lavender, #cdccff) 0.08vw,
      transparent 0.05vw
    );
  background-size: 8.07vw 8.07vw;
  display: flex;
  align-items: flex-end;
  padding: 4.15vw 2.08vw;

  > img:nth-child(2) {
    position: absolute;
    width: 15.86vw;
    top: -3.49vw;
    right: 19.17vw;
    z-index: 1;
  }
  > img:nth-child(3) {
    position: absolute;
    width: 22.03vw;
    top: 12.1vw;
    left: 24.28vw;
    z-index: 1;
  }
  > img:nth-child(4) {
    position: absolute;
    width: 4.32vw;
    top: 18vw;
    right: 10vw;
    z-index: 1;
  }

  > img:nth-child(5) {
    display: none;
  }
}

.W_planetContainer {
  position: absolute;
  top: -4.37vw;
  left: 16.22vw;
  width: 10.16vw;
  height: 12.6vw;
  border: 0.1vw dashed var(--violet, #a7a6ff);
  background: rgba(82, 177, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > img {
    width: 3.33vw;
  }

  > h3 {
    margin-left: -3vw;
  }
}

.W_textMainContainer {
  position: relative;
  width: 62.6vw;

  .M_Underlay {
    position: absolute;
    transform: rotate(-12.827deg);
    font-size: 0.99vw;
    top: 7vw;
    left: 24.74vw;
  }
}

@media screen and (max-width: 767px) {
  .W_BannerBottom {
    width: 56.51vw;
    gap: 0;

    > button {
      margin-top: 30.23vw;
    }
  }

  .W_CardText {
    width: 69.77vw;
    gap: 4.65vw;
  }

  .W_FooterTelegramBlock {
    width: 80.7vw;
    gap: 4.65vw;
  }

  .W_FooterSocialBlock,
  .W_MadeBy {
    gap: 4.65vw;
  }

  .W_BannerTop {
    max-width: 91.63vw;
    flex-direction: column;
    height: 100%;
    align-items: center;

    > h1 {
      width: 91.63vw;
    }

    > img {
      margin-top: 0;
      width: 63.26vw;
    }
  }

  .W_TextbookLeft {
    width: 100%;
    gap: 5.58vw;
  }

  .W_LessonItem {
    gap: 4.65vw;
    font-size: 4.65vw;
  }

  .W_NumberLesson,
  .W_NumberTime {
    gap: -0.93vw;

    .M_Underlay {
      font-size: 3.72vw;
    }
  }

  .W_NumberLesson {
    top: -11.16vw;
  }

  .W_NumberTime {
    top: 0;
    left: 43.02vw;
  }

  .W_Number__underlay-green {
    bottom: -6.85vw;
    padding: 0.47vw 0.93vw;
  }

  .W_GreenTextWithImage {
    padding: 0.93vw;
    gap: 0.93vw;

    > img {
      width: 3.72vw;
    }
  }

  .O_MenuOpen {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 9.3vw 4.42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .O_SearchField {
    margin: 50.47vw auto 0;
  }

  .W_SearchResults {
    padding: 3.04vw;
    gap: 1.67vw;
    max-height: 70vw;
    width: 91.16vw;
  }

  .W_LandingHeading {
    gap: 5.58vw;
  }

  .W_AudienceCards {
    gap: 4.65vw;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
  }

  .W_FooterSocialBlockLanding {
    align-items: flex-start;
  }

  .W_planetContainer {
    display: none;
  }

  .W_firstBannerMain {
    height: 136.74vw;
    border: 1.5px solid var(--lavender, #cdccff);
    background-image:
      linear-gradient(
        to right,
        var(--lavender, #cdccff) 1.5px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        var(--lavender, #cdccff) 1.5px,
        transparent 1px
      );
    background-size: 22.73vw 22.73vw;
    padding: 10.9vw 0 10.9vw 4.42vw;

    > img:nth-child(2) {
      display: none;
    }
    > img:nth-child(3) {
      width: 86.51vw;
      top: 60vw;
      left: 2.33vw;
    }
    > img:nth-child(4) {
      width: 19.3vw;
      top: 25.18vw;
      right: auto;
      left: 2.41vw;
    }
    > img:nth-child(5) {
      display: block;
      position: absolute;
      width: 48.37vw;
      top: -4.77vw;
      right: auto;
      left: 33.02vw;
      z-index: 1;
    }
  }

  .W_textMainContainer {
    width: 100%;

    .M_Underlay {
      font-size: 3.72vw;
      top: 21.4vw;
      left: 48.84vw;
    }
  }
}
