<nav class="O_Navbar">
  <a href="/" class="A_Logo A_LogoDisplay">
    <img src="/images/icons/logo.svg" alt="ADivC" />
  </a>

  <a href="/" class="A_Logo A_LogoMobile">
    <img src="/images/icons/logoMobile.svg" alt="ADivC" />
  </a>

  <div class="W_MenuItems">
    <div class="M_Menu">
      <a href="/tutorials/index.html" class="A_Text">Учебник</a>
      <a href="/about.html" class="A_Text">О проекте</a>
    </div>

    <div class="M_HeaderIcons">
      <div id="search-modal-root"></div>

      <div id="mobile-menu-root"></div>
    </div>
  </div>
</nav>
